databases:
  - name: corpo-ativo-db
    plan: free

services:
  - type: web
    name: corpo-ativo-site
    runtime: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: corpo-ativo-db
          property: connectionString
